<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.scm.bidmanagement.mobile.model" />
        <package name="com.scm.bidmanagement.mail.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/bidNotiInfoMapper.xml"></mapper>
        <mapper resource="mapper/bidInsertMapper.xml"></mapper>
        <mapper resource="mapper/bidDeleteMapper.xml"></mapper>
        <mapper resource="mapper/bidUpdateMapper.xml"></mapper>
        <mapper resource="mapper/bidMailMapper.xml"></mapper>
    </mappers>
</configuration>