<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scm.bidmanagement.mobile.repository.BidNotiInfoMapper">
    <insert id="postBidInsertInfo" parameterType="BidNotiInfoDto">
        insert into tebs.tb_bid_noti_info
        (subj, bltn_content, del_yn, ins_person_id,
        ins_date, ins_time, dw_mail_send_f, lsp_grp_cd)
        values
        (#{subj}, #{bltn_content}, #{del_yn}, #{ins_person_id},
        #{ins_date}, #{ins_time}, #{dw_mail_send_f},
        (select p.lsp_grp_cd from tebs.tb_lsp_pool_info as p where p.lsp_grp_cd='(PD) Spot 해송-Japan')
        )

    </insert>
</mapper>