<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scm.bidmanagement.mail.repository.MailInfoMapper">
    <select id="getMailInfo" resultType="MailDto">
        select email from tebs.tb_lsp_pool_info where lsp_grp_nm = #{lsp_grp_nm};
    </select>
    <update id="updByMail">
        UPDATE tebs.tb_bid_noti_info
        SET  dw_mail_send_f='Y', email_send_date = current_date
        where bltn_content_no = #{bltn_content_no}
    </update>
</mapper>